<h1>Change comment</h1>

<div class="row">
  <div class="col-md-4">
    <p>Guidelines for changes</p>
    <ul>
      <li>Make sure it's better</li>
      <li>Make sure it's different from someone else's comment</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: { post: @post, comment: @comment } %>
  </div>
</div>