<br/>
<div class="links-page">
  <h1>Dawg Links</h1>

<div class="dawg-run">
  <a class="embedly-card" href="http://chat.georgia.sportswar.com/message_board/ugadawgrun/">The Dawg Run</a>
  <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

    <div class="georgia-youtube">
      <a class="embedly-card" href="https://www.youtube.com/channel/UCiK5OOII_B2-RKW7HsTkXRw">Georgia Bulldogs</a>
      <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

          <div class="dawg-vent">
            <a class="embedly-card" href="https://uga.rivals.com/forum.asp?fid=859">UGASports.com - Message Boards</a>
            <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

                <div class="ajc">
                  <a class="embedly-card" href="http://www.ajc.com/s/sports/uga/">AJC UGA football and sports news</a>
                  <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

                      <div class="cbs">
                        <a class="embedly-card" href="http://www.cbssports.com/collegefootball/teams/page/UGA/georgia-bulldogs">Georgia Bulldogs</a>
                        <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>
                      </div>
                </div>
          </div>
    </div>
</div>

<div class="dawg-bone">
  <a class="embedly-card" href="http://www.thedawgbone.com/">Homepage - The Dawgbone Website</a>
  <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

    <div class="georgia-vimeo">
      <a class="embedly-card" href="http://vimeo.com/georgiafootball">Georgia Football</a>
      <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

          <div class="dawg-chat">
            <a class="embedly-card" href="https://uga.rivals.com/forum.asp?FID=1">UGASports.com - Message Boards</a>
            <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

                <div class="rivals">
                  <a class="embedly-card" href="https://uga.rivals.com/?">Georgia Bulldogs Football: UGASports.com</a>
                  <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

                    <div class="sb-nation">
                      <a class="embedly-card" href="http://www.sbnation.com/college-football/teams/georgia-bulldogs">Georgia Bulldogs Football News, Schedule, Roster, Stats</a>
                      <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>
                    </div>
                </div>
          </div>
    </div>
</div>

<div class="dawg-cast">
  <a class="embedly-card" href="http://dawgcast.com/">DawgCast.com -- The Georgia Bulldog Football Podcast</a>
  <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

    <div class="macon">
      <a class="embedly-card" href="http://www.macon.com/university-of-georgia/">UGA Bulldogs news for Macon and Warner Robins, GA | The Telegraph</a>
      <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

          <div class="georgia-dogs">
            <a class="embedly-card" href="http://www.georgiadogs.com/sports/m-footbl/geo-m-footbl-body.html">Football</a>
            <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

              <div class="wikipedia">
                <a class="embedly-card" href="http://en.wikipedia.org/wiki/Georgia_Bulldogs_football">Georgia Bulldogs football - Wikipedia, the free encyclopedia</a>
                <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

                  <div class="sicm">
                    <a class="embedly-card" href="http://www.sicemdawgs.com/2013-uga-football-schedule/">2013 UGA Football Schedule | Georgia Bulldogs</a>
                    <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>
                  </div>
              </div>
          </div>
    </div>
</div>

<div class="dawg-view">
  <a class="embedly-card" href="http://dawgsview.blogspot.com/">This Dawg's View</a>
  <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

      <div class="red-black">
        <a class="embedly-card" data-card-theme="dark" href="http://www.redandblack.com/">The Red and Black</a>
        <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

            <div class="dude-you">
              <a class="embedly-card" href="http://dudeyoucrazy.net/category/podcast/">DudeYouCrazy</a>
              <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

                  <div class="espn">
                    <a class="embedly-card" href="http://espn.go.com/college-football/team/_/id/61/georgia-bulldogs">Georgia Bulldogs</a>
                    <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

                      <div class="two-four-seven">
                        <a class="embedly-card" href="http://georgia.247sports.com/">Georgia Football</a>
                        <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>
                      </div>
                  </div>
            </div>
      </div>
</div>

<div class="columbus">
  <a class="embedly-card" href="http://www.ledger-enquirer.com/georgia-bulldogs-blog/">Columbus Ledger Enquirer</a>
  <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

      <div class="dog-byte">
        <a class="embedly-card" href="http://dogbytesonline.com/category/football/">football | DogBytes Online</a>
        <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

            <div class="bulldawg-illus">
              <a class="embedly-card" href="http://bulldawgillustrated.com/">Bulldawg Illustrated - A fan based publication covering UGA athletics especially football and the lifestyle of being a Bulldog</a>
              <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

                  <div class="fox">
                    <a class="embedly-card" href="http://www.foxsports.com/collegefootball/team/georgia-bulldogs-football/86108?q=georgia-bulldogs-football">Georgia Bulldogs</a>
                    <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>

                      <div class="si">
                        <a class="embedly-card" href="http://www.si.com/college-football/team/georgia-bulldogs">Georgia Bulldogs: Schedule, News, Photos, Stats, Players</a>
                        <script>(function(a){var b="embedly-platform",c="script";if(!a.getElementById(b)){var d=a.createElement(c);d.id=b;d.async=true;d.src=("https:"===document.location.protocol?"https":"http")+"://cdn.embedly.com/widgets/platform.js";var e=document.getElementsByTagName(c)[0];e.parentNode.insertBefore(d,e)}})(document);</script>
                      </div>
                  </div>
            </div>
      </div>
</div>




</div>

<br/>
