<br/>
<div class="home">
  <div class="jumbotron">
    <h1>Talk Dawgs</h1>
    <p>Talk Dawgs is a place for Dawg discourse and sharing links with all of Dawg Nation!</p>
    
    <p>
      <% if current_user %>
      <div class="start">
        <%= link_to "Start talking!", topics_path, class: 'btn btn-danger' %>
      </div>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-default' %> or 
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %> today!
        <% end %>
    </p>
    
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Got news?</h2>
    <p>Share it. Who cares if it's verified, this is the internet.</p>
  </div>
  <div class="col-md-4">
    <h2>Can't get enough Dawg stuff?</h2>
    <p>We try to link to as much relevent sites as possible.</p>
  </div>
  <div class="col-md-4">
    <h2>Think this is "the year"?</h2>
    <p>So do we. Welcome to Talk Dawgs!</p>
  </div>
</div>
