@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Graduate);

a {
  color: #BB0000;
}

a:hover {
  color: black;
}

.alert.alert-success {
  background-color: #BB0000;
  border-color: #d43f3a;
  color: black;
  font-size: 2em;
}

.alert.alert-warning {
  background-color: #BB0000;
  border-color: #d43f3a;
  color: black;
  font-size: 2em;
}

body {
  background: #9A9A9A;
}

.btn {
  border: 2px solid;
  border-radius: 3px;
  background-color: #BB0000 !important;
}

.col-md-3 {
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.5);
  box-shadow: 0 1px 6px rgba(0,0,0,.5);
  margin: 0px 45px 45px 45px;
}

.dawg-run {
  position: absolute;
  width: 200px;
  height: 200px;

  .georgia-youtube {
    position: absolute;
    width: 200px;
    height: 200px;

      .dawg-vent {
        position: absolute;
        width: 200px;
        height: 200px;

        .ajc {
          position: absolute;
          width: 200px;
          height: 200px;

          .cbs {
            position: absolute;
            width: 200px;
            height: 200px;
          }
        }
      }
  }
}

.dawg-bone {
  position: absolute;
  margin-left: 200px;
  width: 200px;
  height: 200px;

    .georgia-vimeo {
      position: absolute;
      width: 200px;
      height: 200px;

      .dawg-chat {
        position: absolute;
        width: 200px;
        height: 200px;

          .rivals {
            position: absolute;
            width: 200px;
            height: 200px;

            .sb-nation {
              position: absolute;
              width: 200px;
              height: 200px;
            }
          }
      }
    }
}

.dawg-cast {
  position: absolute;
  margin-left: 400px;
  width: 200px;
  height: 200px;

    .macon {
      position: absolute;
      width: 200px;
      height: 200px;

      .georgia-dogs {
        position: absolute;
        width: 200px;
        height: 200px;

          .wikipedia {
            position: absolute;
            width: 200px;
            height: 200px;

            .sicm {
              position: absolute;
              width: 200px;
              height: 200px;
            }
          }
      }
    }
}

.dawg-view {
  position: absolute;
  margin-left: 600px;
  width: 200px;
  height: 200px;

    .red-black {
      position: absolute;
      width: 200px;
      height: 200px;

        .dude-you {
          position: absolute;
          width: 200px;
          height: 200px;

          .espn {
            position: absolute;
            width: 200px;
            height: 200px;

            .two-four-seven {
              position: absolute;
              width: 200px;
              height: 200px;
            }
          }
        }
    }
}

.columbus {
  position: absolute;
  margin-left: 800px;
  width: 200px;
  height: 200px;

    .dog-byte {
      position: absolute;
      width: 200px;
      height: 200px;

        .bulldawg-illus {
          position: absolute;
          width: 200px;
          height: 200px;

          .fox {
            position: absolute;
            width: 200px;
            height: 200px;

            .si {
              position: absolute;
              width: 200px;
              max-height: 200px;
            }
          }
        }
    }
}

.home {
  .jumbotron {
    h1 {
      -moz-text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      -webkit-text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
  }
}



h1 {
  color: black;
  font-family: 'Graduate', cursive;
}

h2 {
  color: black;
}

.home {
  .btn {
    background-color: black;
    color: white;
    font-size: 1em;
  }

  .start {
    .btn {
      font-size: 2em;
    } 
  }
}

.jumbotron {
  background-color: #BB0000;
  color: black;
  border: 3px solid;
  border-color: #FFFFEE;
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,.5);
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.5);
  box-shadow: 0 1px 6px rgba(0,0,0,.5);
}

label {
  color: #d9534f;
}

li {
  color: white;
}

.links-page {

  h1 {
    text-align: center;
    color: black;
    font-size: 4em;
  }

  p {
    text-align: center;
    color: black;
    font-size: 2em;
  }

  .btn {
    margin: 10px;
    font-size: 1.5em;
    background-color: #d9534f;
    color: black;
  }

}


.media {
  background-color: #EEEEEE;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
}

.nav {
  margin-top: 5px;
}


p {
  color: black;

    a {
      color: white;
    }
}

.posts {
  .row {
    .col-md-8 {
      margin: 10px;
    }
  }
}

#post_title {
  background: #B2B2B2;
  font-size: 1.5em;
  color: black;
}

#post_body {
  background: #B2B2B2;
  font-size: 2em;
}

/*topic show view */
.row {
  
  p {
    color: black;
  }
}

small {
  color: black;
}

.start {

    .btn {
      background-color: black !important;
      border: 2px solid;
    }
}

.tab-content {
  margin: 10px;
}


.user-info {
  color: white;
  margin-top: 9px;
}


 .vote-arrows {
   width: 40px;
   text-align: center;
 }

 .voted {
  opacity: 0.5;
}

  .favorite {
   margin-top: 20px;
 }

.box_a { 
  position: absolute; 
  top: 200px;
  right: 20px;
  bottom: 20px;
  left: 20px; 
  background: red; 
  color: black;
}

.box_b { 
  position: absolute; 
  top: 200px;
  right: 200px; 
  bottom: 20px; 
  left: 200px; 
  background: white;
  border: 5px solid #86FF6E;
  padding: 10px;
  color: black;
  text-size: 4em;
}




